# Node
client/node_modules/


# .NET
server/bin/
server/obj/
server/*.db-wal
server/*.db-shm
server/*.db-journal

# IDE
.vs/
.vscode/
*.user
*.suo

# OS
Thumbs.db
.DS_Store

# Environment
*.env
secrets.json
